@import url('https://fonts.googleapis.com/css?family=Indie+Flower');
@import url('https://fonts.googleapis.com/css?family=VT323');
@import url('https://fonts.googleapis.com/css?family=Kalam');


/*Oculta las secciones que tienen esa clase*/
.ocultar{
    display: none;
}


body{
    background-image: url("./images/img2.jpg");
    background-size: 100%;
    background-attachment: fixed;
    text-align: center;
}

/*Da estilo al título*/
h1{
    background: #00183f8c;
    font-size: 100px;
    margin-left: 6%;
    margin-right: 6%;
}

/*Estilo de todos los p que esten dentro de un div*/
div p {
    font-family: 'Kalam', cursive;
    color: beige;
    font-size: 50px;
    background: #0000005e;
}

/*Estilo unicamente del parrafo de cifrar/descifrar*/
.msj{
    background: #2c022c8f;
    margin-top: 0px;
    margin-left: 6%;
    margin-right: 6%;
}

/*Estilo de la lista ordenada*/
ol{
    text-align: left;
    font-family: 'Kalam', cursive;
    font-size: 40px;
    background: #681d0142;
    margin-left: 6%;
    margin-right: 6%;
}

/*Da estilo a todos los botones que tienen esa clase*/
.boton{
    height: 80px;
    width: 200px;
    font-size: 38px;
}

/*Estilo del primer div*/
#bienvenida{
    font-family: 'VT323', monospace;
    color: azure;
    background:linear-gradient(30deg, #000000bb, #023768ca, #162d74b2, #023768ca, #000000bb);
    height: 80%;
    padding-bottom: 30px;
    padding-top: 10px;
}

/*Estilo del segundo div*/
#box1{
    color: azure;
    background:-webkit-linear-gradient(top, #000000bb 10%, #ff4500ca 75%, #ffff00bb);
    padding-bottom: 30px;
    padding-top: 10px;
}

/*Estilo del segundo y tercer div -> mostrar resultado cifrado/descifrado*/
#box2, #box3{
    background:-webkit-radial-gradient(center center, circle, #80008098, #dc143c93);
    padding-top: 6%;
    padding-bottom: 30px;
}

/*Estilo de la seleccion del offset*/
#opcion{
    float: center;
    font-size: 1cm;
    text-align: center;
    left: 45%;
    height: 40px;
    width: 10%;
}

/*Estilo del text area*/
#txt{
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;   
    font-size: 1cm;
    width: 20cm;
}

/*Estilo de los mensajes cifrado, descifrado y mensajes originales */
.text{
    font-size: 2cm;
    text-align: center;
    margin-left: 10%;
    margin-right: 10%;
    
}

/*Estio de los botones regresar*/
.botonesp{
    background-position-x: 50%;
    background-position-y: 50%;
    background-repeat: no-repeat;
    width:150px;
    height:150px;
    border-radius: 90px;

}

/*Se coloca imagen de fonde en el botón codificar*/
#encode{
    background-image: url("./images/encode.png"); /*https://www.google.com/search?rlz=1C1CHBD_esMX798MX798&biw=1366&bih=618&tbm=isch&sa=1&ei=chZJXNDFIc_GsAXY-Za4Ag&q=candado+cerrado+png&oq=candado+cerrado+png&gs_l=img.3..0j0i8i30.217084.220876..221443...0.0..0.239.1948.0j14j2......1....1..gws-wiz-img.......0i7i30j0i67j0i8i7i30.iV0pBL1K6lc#imgrc=uRX3KuQejbEmkM:*/
    background-size: 96%;
}

/*Se coloca imagen de fonde en el botón codificar*/
#decode{
    background-image: url("./images/decode.png");/*https://www.google.com/search?rlz=1C1CHBD_esMX798MX798&biw=1366&bih=618&tbm=isch&sa=1&ei=NwRJXPvPH-uXtgWhhoGIDQ&q=candado+abierto+png&oq=candado+abi&gs_l=img.3.1.0l4j0i67j0l5.29837.31746..33595...0.0..0.126.1115.0j10......0....1..gws-wiz-img.......0i5i30j35i39.vjoGRbX09jo#imgrc=TaYnNDSHZbM6pM:*/
    background-size: 96%;
}

/*Estilo del título del botón*/
button p{
    font-size: 25px;
    background: #0c96d621;
    color: #000000;
}

/*Estilo del enlace*/
a:hover{
    font-size: 70px;
    color: coral;
}
a:active{
    color: blue;
}
a{
    color:rgb(81, 255, 0);
    font-family: 'Indie Flower', cursive;
}

/*Estilo del mensaje para ingresar el offset*/
#off{
    border-radius: 20px;
    margin-left: 25%;
    margin-right: 25%;

}


