/*Oculta las secciones que tienen esa clase*/
.ocultar{
    display: none;
}

body{
    background-image: url("./images/img2.jpg");
    background-size: 100%;
    text-align: center;
}

/*Da estilo al título*/
h1{
    background: #00183f8c;
    font-size: 100px;
    margin-left: 6%;
    margin-right: 6%;
}

div p {
    color: beige;
    font-size: 50px;
    background: #0000005e;
}

.msj{
    background: #681d0142;
    margin-left: 6%;
    margin-right: 6%;
}

/*Da estilo a todos los botones que tienen esa clase*/
.boton{
    height: 80px;
    width: 200px;
    font-size: 38px;
}

/*Estilo del primer div*/
#bienvenida{
    color: azure;
    background:linear-gradient(30deg, #000000bb, #023768ca, #162d74b2, #023768ca, #000000bb);
    height: 80%;
    padding-bottom: 30px;
    padding-top: 10px;
}

/*Estilo del segundo div*/
#box1{
    color: azure;
    background:-webkit-linear-gradient(top, #000000bb 10%, #ff4500ca 75%, #ffff00bb);
    padding-bottom: 30px;
    padding-top: 10px;
}

/*Estilo del segundo y tercer div -> mostrar resultado cifrado/descifrado*/
#box2, #box3{
    background:-webkit-radial-gradient(center center, circle, #800080ca, #dc143cbb);
    padding-bottom: 30px;
}

/*Esrtilo del  boton codificar*/
#encode{
    position: absolute;
    left: 20%;
    
}

/*Estilo del boton decodificar*/
#decode{
    position: absolute;
    right: 20%;
}

/*Estilo de la seleccion del offset*/
#opcion{
    font-size: 1cm;
    text-align: center;
    left: 45%;
    height: 40px;
    width: 10%;
}

/*Estilo del text area*/
#txt{
    font-size: 2cm;
    width: 20cm;
}

/*Estilo de los mensajes cifrado, descifrado y mensajes originales */
.text{
    font-size: 2cm;
    text-align: center;
    margin-left: 6%;
    margin-right: 6%;
    
}

/*Estilo del boton regresar*/
#back, #back2 {
    left: 42%;
}

